.normal-button {
    background-color: #ffffff;
    color: #606266;
    border-radius: 0.8rem;
    font-weight: bold;
    font-size: 1rem;
    width: auto;
    padding: 0.5rem 1rem; /* 按钮的内边距，可以根据需要进行调整 */;
    /*min-width: 100px;*/
    height: 3rem;
}
.search-button {
    background-color: #0050ff;
    color: #ffffff;
    border-radius: 0.8rem;
    font-weight: bold;
    font-size: 1rem;
    width: auto;
    padding: 0.5rem 1rem; /* 按钮的内边距，可以根据需要进行调整 */;
    /*min-width: 100px;*/
    height: 3rem;
}
.refresh-button {
    /*background-color: #ffffff;*/
    /*color: #606266;*/
    border-radius: 0.8rem;
    font-weight: bold;
    font-size: 1rem;
    width: auto;
    padding: 0.5rem 1rem; /* 按钮的内边距，可以根据需要进行调整 */;
    /*min-width: 100px;*/
    height: 3rem;
}
.primary-button {
    background-color: #0d53ff;
    color: #ffffff;
    border-radius: 0.8rem;
    font-weight: bold;
    font-size: 1rem;
    width: auto;
    padding: 0.5rem 1rem; /* 按钮的内边距，可以根据需要进行调整 */;
    /*min-width: 100px;*/
    /*height: 5vh;*/
    height:3rem
}
.warning-button {
    background-color: #0d53ff;
    color: #ffffff;
    border-radius: 0.8rem;
    font-weight: bold;
    font-size: 1rem;
    width: auto;
    padding: 0.5rem 1rem; /* 按钮的内边距，可以根据需要进行调整 */;
    /*min-width: 100px;*/
    /*height: 5vh;*/
    height:3rem
}
.main-container {
    /*border-radius: 50px;*/
    border-radius: 2rem;
    background-color: #ffffff;
    height: 98%;
    width: 98%;
}

.path {
    font-weight: bold;
    font-size: 1rem;
    color: #999999;
    margin-top: 0.5%;
    margin-left: 2%;
    display: flex;
    align-items: center; /* 垂直居中 */
    /*text-align: left;*/
    /*display: flex;*/
    height: 5%;
    /*text-align: center;*/
    /*background-color: #f5f6f7;*/
    /*border-radius: 5px;*/
}

.table {
    background-color: #ffffff;
    height: 75%;
}

.el-input__icon.el-icon-search {
    margin-top: 2px;
    font-size: 24px;
}


/*!* 设置 el-table 每一行的高度 *!*/
/*::v-deep .el-table .el-table__body .el-table__row {*/
/*    height: 500px; !* 设置每一行的高度 *!*/
/*}*/


.table-style {
    font-weight: bold;
    font-size: 0.85rem;
}

.table-skeleton {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}
/*右键菜单*/
.contextmenu__item {
    display: block;
    line-height: 2.2rem;
    text-align: center;
}

/*分割线*/
.contextmenu__item:not(:last-child) {
    border-bottom: 0 solid #00ffff;
}

.menu {
    position: absolute;
    background-color: #fff;
    width: 10%;
    /*height: 106px;*/
    font-size: 0.8rem;
    font-weight: bold;
    color: #52565e;
    border-radius: 0.5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #DCDFE6;
    /*box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);*/
    white-space: nowrap;
    z-index: 1000;
}
/**
右键菜单项
 */
.contextmenu__item:hover {
    cursor: pointer;
    background: #e6f1ff;
    border-color: #e6f1ff;
    /*color: #52565e;*/
}


.AIdialogmain{
    background-color: #d4dff4;
    border-radius: 10px;
    min-height: 340px;
    /*max-height: 300px; !* 根据需要设置固定的高度 *!*/
    /*overflow-y: auto; !* 添加滚动条 *!*/
}

.AIdialogfoot{
    background-color: #d4dff4;
    border-radius: 10px;
    margin-top: 20px;
    align-content: center;
}



.aibutton {
    padding:0;
    align-content: center;
    border-radius: 50%;
    border-color: #0d53ff;
    color: #0d53ff;
    background-color: #d4dff4;
    height: 45px; width: 45px;
    font-size: 16px;
    font-weight: 700;
    margin-left: 20px;
}

.aibutton:hover {
    background-color: #0d53ff;
}

.message-list {
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.submit-button {
    background-color: #ffffff9c;
    border-color: #0d53ff;
    color: #0d53ff;
    border-radius: 0.8rem;
    font-weight: bold;
    font-size: 1rem;
    width: auto;
    padding: 0.5rem 1rem; /* 按钮的内边距，可以根据需要进行调整 */;
    /*min-width: 100px;*/
    /*height: 5vh;*/
    height:3rem

}
.submit-button:hover {
    background-color: #0d53ff;
    color: #ffffff;
}
.clear-button {
    background-color: #ff2723;
    color: #ffffff;
    border-radius: 0.8rem;
    font-weight: bold;
    font-size: 1rem;
    width: auto;
    padding: 0.5rem 1rem; /* 按钮的内边距，可以根据需要进行调整 */;
    /*min-width: 100px;*/
    /*height: 5vh;*/
    height:3rem

}

.aiinput {
    background-color: #d4dff4;
    border-radius: 3px;
    width: 80%;
}
/deep/ .aiinput .el-input__inner{
    width: 20px;
}

.user-message-container, .ai-message-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-message-container {
    justify-content: flex-end;
}

.ai-message-container {
    justify-content: flex-start;
}

.avatar {
    /*margin-right: 10px;*/
}

.message-box {
    background-color: #f3f3f3;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 15px;
    max-width: 60%;
}

.user-message .message-box {
    background-color: #e1f3d8;
}

.ai-message .message-box {
    background-color: #f9e9e9;
}

/*文件筛选框*/
.el-dropdown {
    vertical-align: top;
}
.el-dropdown + .el-dropdown {
    margin-left: 15px;
}
.el-icon-arrow-down {
    font-size: 12px;
}

.select-dropdown {
    margin-left: 1rem;
    margin-top: 0.5%;
}

.m-box {
    width: 1260px;
    height: 500px;
}
